{% extends "_base.html" %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Blog</li>
  </ol>
</nav>

  <div class="container">
    {% for item in data.blog %}
    <img
      src="{{item.photo.url}}"
      class="img-fluid"
      alt="..."
      width="500"
      height="500"
    />
    <h2>{{item.title}}</h2>
    <p>{{item.content|safe}}</p>
    {% endfor %}
  </div>
{% endblock content %}


