{% extends "_base.html" %}

{% block content %}
<div class="mt-6 max-w-7xl lg:px-10 px-5 py-6 mx-auto">
  {% for item in data.blog %}
  <div class="mt-2">
    <a href="#" class="sm:text-2xl md:text-3xl lg:text-3xl xl:text-4xl font-bold text-gray-600">{{item.title}}</a>
    <!--author avator-->
   <div class="font-light text-gray-600">
        <p class="font-bold text-gray-700 mt-2">
          <span class="gap-4">
            {% for t in item.tag.all %}
            <span class="inline-flex items-center rounded-full bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600">{{ t.tag_name }}</span>
            {% endfor %}
         </span>
        </p>
    </div>
  </div>

  <div class="py-8 mx-auto">
    <div class=" ">
      <!-- image-->
      <a
        href="#_"
        class="block transition duration-200 ease-out transform"
      >
        <img
          class="lg:object-center lg:w-full shadow-sm lg:h-3/5 rounded border"
          src="{{item.photo.url}}"
        />
      </a>

      <!--post content-->
      <div
        class="lg:text-xl md:2px xs:text-sm text-gray-700 mt-10"
      >
       <p>
        {{item.content|safe}}
       </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
