{% extends "_base.html" %}

{% block content %}
<div class="py-16 sm:py-24">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-700 sm:text-4xl">บทความ</h2>
    <p class="mt-2 lg:text-lg sm:text-xs lg:leading-8 text-gray-600">Article and Programming Tutorial</p>
  </div>
  <div class="max-w-7xl px-10 py-6 mx-auto ">
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 sm:grid-cols-2">
      {% for item in data.blog %}
      <a href="blog/slug/{{item.slug}}" class="cursor-pointer">
          <div class="bg-white rounded-lg border shadow-md max-w-xs md:max-w-none overflow-hidden">
            <img class="h-56 lg:h-60 w-full object-cover" src="{{ item.photo.url }}" alt="" />
            <div class="p-3">
                <span class="text-sm text-primary">{{ item.date | date:'M. d,Y' }}</span>
                <h3 class="font-semibold text-xl text-gray-700 my-2">
                  {{ item.title }}
                </h3>
                <p class="break-words text-gray-800 text-base">
                  {{ item.short_detail | truncatechars:80 }}
                </p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}